/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

/* Root */
:root {
  --box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.2);
  --pink: hsl(322, 100%, 66%);
  --hover-pink: hsl(321, 100%, 83%);
  --white-clr: #fff;
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grey-blue: hsl(208, 11%, 55%);
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Remove list styles on ul, ol elements, which suggests default styling will be removed */
ul {
  list-style: none;
  padding-inline: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: var(--dark-cyan);
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
button {
  font: inherit;
}

/* General styling */
.container {
  max-width: 85%;
  margin-inline: auto;
}

.btn {
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.cta-btn {
  background-color: var(--pink);
  border: 1px solid var(--pink);
  color: var(--pale-cyan);
  padding: 0.8rem 3.5rem;
  box-shadow: var(--box-shadow);
}

.cta-btn:hover {
  background-color: var(--hover-pink);
  border-color: var(--hover-pink);
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

/* Header section */
.main-header {
  min-height: 50vh;
  background: url("images/bg-hero-mobile.svg"),
    linear-gradient(var(--pale-cyan), var(--pale-cyan));
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding-block: 20px;
}

.navbar .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 40%;
}

.nav-btn {
  padding-block: 0.3rem;
}

.nav-btn > .btn {
  padding: 0.4rem 2rem;
  border: 1px solid var(--white-clr);
  background-color: var(--white-clr);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}

.nav-btn > .btn:hover {
  color: var(--grey-blue);
}

.hero .container {
  display: flex;
  flex-direction: column;
  padding-block: 50px;
  padding-inline: 20px;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.hero-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-inline: 10px;
}

.hero-message {
  margin-bottom: 30px;
}

/* Main section */

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-block: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 1.5rem;
  padding-block: 20px;
}

.card p {
  color: var(--grey-blue);
  font-size: 16px;
}


/* Footer session */

.footer {
  position: relative;
  background-color: var(--dark-cyan);
  color: var(--pale-cyan);
  margin-top: 200px;
}

.cta {
  position: relative;
  top: -70px;
  padding: 30px 20px;
  gap: 10px;
  color: var(--dark-cyan);
  background-color: var(--white-clr);
  margin-bottom: 0;
}

.cta h2 {
  padding-block: 10px;
  font-size: 1rem;
}

.cta > .cta-btn {
  width: 70%;
  padding: 0.5rem 2rem;
  margin-inline: auto;
  margin-bottom: 10px;
}

.footer-logo {
  margin-bottom: 30px;
  width: 50%;
  padding-left: 30px;
}

.contact {
  margin-block: 20px 50px;
}

.contact-item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: left;
}

.contact-item img {
  margin-right: 30px;
}

.footer-menu a {
  text-decoration: none;
  color: var(--pale-cyan);
  font-size: 1.2rem;
}

.footer-menu a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.footer-menu li {
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-block: 50px 20px;
}

.social-icons a {
  color: var(--pale-cyan);
  border: 1px solid var(--pale-cyan);
  padding: 5px;
  width: 40px;
  text-align: center;
  aspect-ratio: 1;
  border-radius: 100%;
  font-size: 1.2rem;
}

.social-icons a:hover {
  color: var(--pink);
  border-color: var(--pink);
}

.footer-note {
  font-size: 0.8rem;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-block: 5px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 45em) {
  .main-header {
    background: url("images/bg-hero-desktop.svg"),
    linear-gradient(var(--pale-cyan), var(--pale-cyan));
  }

  .nav-btn > .btn {
    padding: 0.4rem 3rem;
  }

  .hero .container {
    flex-direction: row;
    text-align: left;
    padding-inline: 0;
  }

  .hero-heading {
    font-size: 3.5rem;
    padding-inline: 0;
    margin-top: 30px;
  }

  .hero-btn {
    margin-bottom: 30px;
  }

  .hero-image img {
    width: 1200px;
  }

  .card {
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    padding: 30px 20px 30px 100px;
  }

  .card-alt {
    flex-direction: row;
  }

  .card-alt .content-b {
    padding-right: 0;
    padding-left: 100px;
  }

  .card img {
    width: 30%;
  }
  .card .content {
    padding-right: 100px;
  }

  .footer {
    margin-top: 300px;
  }

  .cta {
    flex-direction: column;
    width: 50%;
    padding: 60px 20px;
    top: -150px;
  }

  .cta h2 {
    padding-block: 10px;
    font-size: 1.5rem;
  }
  
  .cta > .cta-btn {
    width: 50%;
    padding: 1rem 3.5rem;
    margin-inline: auto;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .footer-logo {
    padding-left: 100px;
  }

  .footer-menu {
    width: 15%;
  }

  .contact {
    width: 45%;
    padding-right: 50px;
  }

  .social-icons {
    margin-block-start: 20px;
  }

  .footer-note {
    text-align: end;
    padding-right: 100px;
  }
}